.translateChange {
  transform: translateX(24px) !important;
}

.Nav {
  border-bottom-style: solid;
  border-bottom-color: rgba(107, 114, 128);
  border-width: 1px;
}

.Login-modal {
  position: fixed;
  z-index: 999;
  top: 20%;
  left: 50%;
  width: 300px;
  margin-left: -150px;
}
