.translateChange {
  transform: translateX(24px) !important;
}

.Nav {
  border-bottom-style: solid;
  border-bottom-color: rgba(107, 114, 128);
  border-width: 1px;
}

.modal-container {
  z-index: 1000 !important;
}
